<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

</head>
<body>
<p th:text="'Hello, Pau '" />

<div class="navbar-collapse" id="navbarResponsive">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link" href="mostrarcolegios">Mostrar Colegios</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="insertarcolegios">Insertar Colegios</a>
    </li>

  </ul>
</div>

<div class="container">
  <form method="post" action="insertarcol" th:object="${Colegio}" enctype="application/x-www-form-urlencoded">
    <div class="form-group row">
      <div class="col-md-4 mt-5">
        <label for="Idcolegio">Idcolegio</label>
        <div class="input-group">
          <input type="number" class="form-control" id="Idcolegio" name="Idcolegio" autocomplete="off" th:field="*{idcolegio}"/>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <label for="Direccion">Direccion</label>
        <div class="input-group">
          <input type="text" class="form-control" id="Direccion" name="Direccion" autocomplete="off" th:field="*{direccion}"/>
        </div>
      </div>
      <div class="col-md-4 mt-5">
        <label for="Color">Color</label>
        <div class="input-group">
          <input type="text" class="form-control" id="Color" name="Color" autocomplete="off" th:field="*{color}"/>
        </div>
      </div>
    </div>

    <button class="btn btn-primary" type="submit">Submit form</button>
  </form>

</div>

</body>
</html>